<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>day8.2</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<!-- error handling tags -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/err_handler.jsp</location>
	</error-page>
	<!-- context params -->
	<context-param>
		<param-name>drvr</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>db_url</param-name>
		<param-value>jdbc:mysql://localhost:3306/test?useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
	</context-param>
	<context-param>
		<param-name>user_name</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>pwd</param-name>
		<param-value>root</param-value>
	</context-param>

</web-app>